* {
    padding: 0;
    margin: 0;
}
:root {
    --fcolor: #5700ff;
    --scolor:black;
    --thcolor: #23cedb;
    --frcolor: #f8f9ff;
    --border-color: #ddd;
    --title-line: 60px;
    --title-font:2rem;
    --subtitle-font:1.35rem;
}

/* Start Formats codes */

h1,h2,h3,h4,h5,h6, .font, p,a {
    font-family: "Rubik", sans-serif;
}
a {
    text-decoration: none
}
/* /////////////Title//////////////// */
.title {
    padding: 65px 0px;
}
.h2-box h2 {
    text-align: center;
    position:relative;
}
.h2-box1 {
    display: flex;
    justify-content: right;
}
.h2-box h2::after {
    content: "";
    position: absolute;
    bottom: -18px;
    right: calc(50% - 43px);
    height: 4px;
    width: 86px;
    border-radius: 20px;
    background-color: var(--fcolor);
}

/* Start my own classes */
.Text-right{
    text-align: right;
}
/* End my own classes  */

/* End Formats codes */


.navbar1 {
    width: 100%;
    position: fixed;
    background-color: white;
    color: var(--thcolor);
    z-index: 100;
    box-shadow: 0 1px 0 0 rgba(139, 141, 157, .05), 0 0 1px 0 rgba(65, 71, 108, .15);
}
.navbar1 .navbar-collapse {
    flex-grow: unset;
    margin-right: 36px;
}
.navbar1 .navbar-collapse li {
    padding: 10px;
    font-size: 1.5rem;
}
.navbar1 .navbar-collapse li a {
    color:  #939597;
}
.navbar1 .navbar-brand{
    font-size: 40px;
    font-family: cursive;
}

/* The start of Landing section  */
.landing {
    position:relative;
    z-index: 50;
    height: 100vh;
    background-color: black;
}
.landing .container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 100;
}
@media screen and (max-width: 1025px) {
    .landing {
        height: auto;
    }
    .landing .container {
        flex-direction: column-reverse;
        justify-content: flex-end;
        padding: 120px 0px 0px 0px;
    }
}
  
.landing .container img {
    max-width: 400px;
}
.landing .container .text {
    height: 100%;
    direction: rtl;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Expo Arabic", Sans-serif;
    max-width: 600px;
}
.landing .container .text h1 {
    margin-bottom: 1.4rem;
    font-size: 3.28rem;
    font-weight: 700;
    line-height: 65px;
    color: var(--fcolor);
}
.landing .container .text p {
    font-size: 20px;
    font-weight: 400;
    padding: 20px;
    font-style: normal;
    line-height: 40px;
    text-align: justify;
    margin-bottom: 1.4rem;
    color: white;

}
.landing .container .text a{
    padding: 10px 46px;
    border-radius: 51px;
    font-weight: 500;
    color: wheat;
    font-size: 24px;
    background-color: var(--fcolor);
}
@media (max-width: 768px) {
    .landing .container .text {
        justify-content: flex-start;
        line-height: 1;
        text-align: justify;
    }
    .landing .container .text h1 {
        text-align: center;
        font-size: 35px;
        width: 100%;
        font-weight: 700;
        margin: 0px;
    }
    .landing .container .text p {
        font-size: 18px;
    }
}

@media (min-width: 1025px) {
    .landing .img-star {
        background-image: url(Imagges/Blue_circle.png);
        width: 100%;
        height: 437px;
        position: absolute;
        object-fit: cover;
        top: 0px;
        background-size: 200px;
        background-repeat: no-repeat;
        z-index: 3;
    }
}

/* The end of landing */

/* Start of Subjects  */
.subjects .container {
    display: flex;
    gap: 17px;
    flex-wrap: wrap;
    justify-content: center;
}
.subjects .container .card {
    max-width: 18rem;
    text-align: right;
}
.subjects .container .card h5 {
    text-align:center;
}
@media screen and (max-width: 768px) {
    .subjects .container .card {
        width: calc(50% - 9px);
    }
}

/* End of Subjects  */
/* ----------------------------------------------------------------------------------- */
/* ---------------------------Start of Subject Page ---------------------------------- */
/* ----------------------------------------------------------------------------------- */


/* Start Left,Right,Center sections */
.content {
    display: flex;
    justify-content: space-between;
    padding: 140px 0px 28px;
    
}
@media screen and (max-width: 1024px) {
    .content .container {
        padding: .9rem 0;
    }

}
@media (max-width: 576px) {
    .content.container {
        max-width: none;
    }
}
@media (min-width:  730px) and (max-width: 1023px) {
    .container, .container-md, .container-sm {
        max-width: 720px;
        margin-right: 20px;
        width: 100%;
    }
}
.content .Left-side {
    position: relative;
    left: 0;
    width: 300px;
    border: 1px solid var(--border-color) ;
    border-top: none;

}
@media (max-width: 1024px) {
    .content .Left-side {
        display: none;
    }
}
.content .Center-side {
    width: 100%;
}
/* /////////////Title1//////////////// */
.title1 {
    text-align: right;
}
.h2-box1 h2 {
    position:relative;
    width: fit-content;
    color: var(--fcolor);    
    font-size: 2.3rem;
}
@media (min-width: 1200px) {
    .h2-box1 h2 {
        font-size: 2.7rem;
    }
}
.h2-box1 {
    display: flex;
    justify-content: center;
    margin-bottom: 36px;
}
.h2-box1 h2::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: -44px;
    height: 4px;
    width: var(--title-line);
    border-radius: 20px;
    background-color: var(--fcolor);
    margin: auto;
}

.content .content-title {
    background-color: #F1EFEF;
    padding: 9px 13px;
    box-sizing: border-box;
    border-bottom: 2px solid var(--thcolor);
    display: flex;
    align-items: center;
    justify-content: space-between;
    direction: rtl;
}
.content .content-title h2 {
    color: #000;
    font-size: 1.125em;
    font-weight: 700;
    line-height: 30px;
    margin: 0;
}
/* End Left,Right,Center sections */

/* End Left side section */


/* Start Roadmap section */
.Center-side .Roadmap {
    direction: rtl;
}
.Center-side .Roadmap ol {
    padding-right: 25px;
    border-bottom: 2px solid #E0E0E0;
}
.Center-side .Roadmap ol li {
    width: fit-content;
    padding: 10px 0px;
}
.Center-side .Roadmap ol li:last-child {
    border-bottom: none;
}

.fa-angle-double-left:before, .fa-angles-left:before {
    color: var(--fcolor);
    content: "\f100";
    font-size: 0.8rem;
}
.Center-side .Roadmap ol li a {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--scolor);
    padding: 10px;
}
.line {
    width: 80%;
    height: 3px;
    background-color: var(--fcolor);
    direction: rtl;
    margin: 100px 0px;
}
/* End of the Roadmap setion */

/* Start of Seperate line */
.separate-line {
    height: 3px;
    width: 80%;
    background-color: var(--thcolor);
    margin: 0px auto;
    margin: 72px auto;
    border-radius: 20px;
}
/* End of Seperate line */

/* Start Sources section */

.sources {
    direction: rtl;
}
.sources .container {

}
.sources .subtitles {
    position: relative;
    position: relative;
    margin-bottom: 33px;
}
.sources .subtitles h2 {
    color: var(--fcolor);
    font-size: 3rem;
}
.sources .subtitles h2::after {
    content: "";
    position: absolute;
    bottom: -18px;
    right: 0px;
    height: 4px;
    width: 62px;
    border-radius: 20px;
    background-color: var(--fcolor);
}
@media (max-width: 567px) {
    .sources .container .subtitles h2 {
        font-size: 2rem;
    }
}
.sources .container ol {
    padding: 0px;
    padding-inline-start: 28px;
    color: var(--fcolor);
}
.sources ol li {
    font-size: 2rem;
}
.sources ol li.source::marker {
    background-color: red;
}
.sources ol li .source-link {
    font-size: 2rem;
    display: block;
    line-height: 1;
}
.sources ol li .Expliantion {
    display: inline;
    font-size: 1.2rem;
    line-height: 1;
    margin-inline-start: -28px;

}
.sources ol li .link-button {
    padding: 5px;
    background-color: var(--fcolor);
    border-radius: 0.4rem;
    color: white;
    font-size: 1rem;
}
@media (max-width: 567px) {
    .sources ol {
        padding-inline-start:15px;
    }
    .sources ol li {
        font-size: 1rem;
        padding-bottom: 12px;
    }
    .sources ol li .source-link {
        font-size: 1.4rem;
        display: block;
    }
    .sources ol li .Expliantion {
        display: inline;
        font-size: 1rem;
        margin-right: 0px;
    }

    .sources ol li .link-button {
        font-size: 0.6rem;
    }
}
/* End Sources section  */

.content .right-side {
    position: relative;
    right: 0;
    width: 300px;
    border: 1px solid var(--border-color) ;
    border-top: none;
}
@media screen and (max-width: 740px) {
    .content .Left-side {
        display: none;
    }
    .content .right-side {
        display: none;
    }
}
.content .right-side .Roadmap {
    position: sticky;
    top: 88px;
}
.content .right-side .Roadmap li {
    margin-bottom: 7px;
    padding-bottom: 7px;
    border-bottom: 1px solid #ddd;
    font-weight: 700;
}
.content .right-side .Roadmap li a {
    color: var(--fcolor);

}

/* @media screen and (max-width: 1024px) {
    .content {
        display: flex;
        justify-content: space-between;
        justify-content: center;
    }
    .content .Left-side {
        display: none;
        position: relative;
        left: 0;
        width: 300px;
        border: 2px rgb(121, 70, 70) soild;
    }
    .content .right-side {
        display: none;
        position: relative;
        right: 0;
        width: 300px;
        border: 2px rgb(121, 70, 70) soild;
    }
} */